<!doctype html>
<html class="no-js" lang="cs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="Proof & Reason">
    <title>{% block pageTitle %}AIKE{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% include "components/_favicons.twig" %}

    <script src="js/vendor/modernizr.js" ></script>
    <link rel="stylesheet" href="css/generatedByGulp.css">
</head>
<body>
    {% include "components/_browser-notice.twig" %}

    {% block content %}{% endblock %}

    <script src="https://use.typekit.net/ugx6xyv.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script src="js/vendor/jquery-3.2.1.js" ></script>
    <script src="js/vendor/jquery.bxslider.js"></script>
    <script src="js/vendor/lightgallery.js"></script>
    <script src="js/vendor/moments.js"></script>
    <script src="js/vendor/pikaday.js"></script>
    <script src="js/generatedByGulp.js"></script>

    <!-- Google Analytics -->

    </body>
    </html>