<!--[if lte IE 9]>
    <p class="browserupgrade">Používáte <strong>zastaralý</strong> prohlížeč. Pokud je to možné, <a href="http://browsehappy.com/">aktualizujte svůj prohlížeč</a> pro vyšší bezpečnost a příjemnější brouzdání.</p>
    <![endif]-->